<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.funsite.springboot.security.mapper.UserMapper">

    <resultMap id="user" type="top.funsite.springboot.security.entity.User">
        <id property="id" column="USER_ID"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="enabled" column="ENABLED"/>
        <result property="accountNonExpired" column="ACCOUNT_NON_EXPIRED"/>
        <result property="accountNonLocked" column="ACCOUNT_NON_LOCKED"/>
        <collection property="authorities" ofType="top.funsite.springboot.security.entity.Role">
            <id property="id" column="ROLE_ID"/>
            <result property="roleName" column="ROLE_NAME"/>
            <result property="roleDesc" column="ROLE_DESC"/>
        </collection>
    </resultMap>

    <!--  加密方式要小写  -->
    <select id="selectUserByName" resultMap="user">
        SELECT U.ID                         AS USER_ID,
               U.USERNAME,
               CONCAT('{noop}', U.PASSWORD) AS PASSWORD,
               U.ENABLED,
               U.ACCOUNT_NON_EXPIRED,
               U.ACCOUNT_NON_LOCKED,
               R.ID                         AS ROLE_ID,
               R.ROLE_NAME,
               R.ROLE_DESC
        FROM USER U
                 LEFT JOIN USER_ROLE UR ON U.ID = UR.USER_ID
                 LEFT JOIN ROLE R ON R.ID = UR.ROLE_ID
        WHERE U.USERNAME = #{username}
    </select>

</mapper>