<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="priv.lyq.springboot.security.mapper.UserMapper">

    <resultMap id="user" type="priv.lyq.springboot.security.entity.User">
        <id property="id" column="uid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="authorities" ofType="priv.lyq.springboot.security.entity.Role">
            <id property="id" column="rid"/>
            <result property="name" column="name"/>
        </collection>
        <collection property="pages" ofType="priv.lyq.springboot.security.entity.Page">
            <id property="id" column="pid"/>
            <result property="addr" column="addr"/>
            <collection property="buttons" ofType="priv.lyq.springboot.security.entity.Button">
                <id property="id" column="bid"/>
                <result property="hyperlink" column="hyperlink"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectUserByName" resultMap="user">
        SELECT u.id AS "uid",
               u.username,
               CONCAT("{bcrypt}", u.password) AS "password",
               r.id AS "rid",
               r.name,
               p.id AS "pid",
               p.addr,
               p.icon,
               b.id AS "bid",
               b.hyperlink
        FROM user u
                 LEFT JOIN user_role ur ON
            u.id = ur.user_id
                 LEFT JOIN role r ON
            r.id = ur.role_id
                 LEFT JOIN role_button rb ON
            r.id = rb.role_id
                 LEFT JOIN button b ON
            b.id = rb.button_id
                 LEFT JOIN page_button pb ON
            pb.id = b.id
                 LEFT JOIN page p ON
            p.id = pb.page_id
        WHERE u.id = #{username}
    </select>

</mapper>